.start{
   background-color: #006BFF;
   display: flex;
   justify-content: center;
   align-items: center;


   .input{
      width: 500px;
      padding: 15px 10px;
      
   }

   a{
      text-decoration: none;
      color: white;

   }

   .menu{
      display: flex;
      
   }
}