.read{
    text-align: center;
    h2{
        margin-top: 80px;
        font-size: 48px;
    }
    p{
        color: gray;
    }
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

 .card{
    margin-top: 29px;
    background-color: #F4F4F4;
    padding: 20px;

    p{
        color: gray;
    }

    a{
        margin-top: 16px;
        color: #006BFF;
        font-size: 20px;
        font-weight: 800;
    }
h2{
    margin-top: 10px;
}

 }


 .authorInfo{
    display: flex;
 }
}

/* Container for the image and text */
.cardImgContainer {
   
   
   
    position: relative;

    img {
        
       width: 90%;
        padding-left: 20px;
        
    }
  }
  
  /* Ensures the image takes full width */
  .cardImg {
    width: 100%;
    height: auto;
    justify-content: center;
   
    
  }
  
  /* The overlay text inside the image */
  .categoryOverlay {
    position: absolute;
    top: 91%;
    left: 18%;
    transform: translate(-50%, -50%);
    
    
   
  
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #006BFF;
    padding: 8px 26px;
    border-radius: 20px;
    z-index: 10; /* Make sure the text stays above the image */
  }
  
  /* Adjust the size of the text for responsiveness */
  @media (max-width: 768px) {
    .categoryOverlay {
      font-size: 1.5rem;
      padding: 8px 16px;
      
    
    }
  }
  
.info{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

  
    
}

.cart{
    padding: 10px;
    background-color: #F4F4F4;

   
}

.sectiontitle{
margin-top: 50px;
margin-bottom: 32px;
font-size: 32px;
}