.wrapper{


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    gap: 150px;

   .wrap{
 display: flex;
 flex-direction: column;
 gap: 40px;

    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
   }
    
}



.title{
    margin-top: 40px;
    align-items: center;
    text-align: center;
    h1{
        font-size: 46px;
    }

    p{
        margin-top: 10px;
        margin-bottom: 50px;
    }
}

.info{
    background-color: #F2F2F2;
}